header {
    background-color: #0797df;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
nav {
    /*float: left;*/
    width: 30%;
    /*height: 300px;  only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    display: table-cell;
}
article {
    /*float: left;*/
    padding: 100px;
    width: 70%;
    background-color: #140244;
    /*height: 300px;  only for demonstration, should be removed */
    color: white;
    display: table-cell;
}
section::after {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: #040404;
    padding: 10px;
    text-align: center;
    color: white;
}
