*{
    box-sizing: border-box;
}


header{
    text-align: center; 
    font-size: 36px;
    color: white;
    background-color: lightgray;
    margin-top: 50px; /* -bottom, -left, -right */
    padding-top: 50px;
    padding-bottom: 30px;
    /*border-bottom: 4px double gold;
    width: 8%;
    height: 50px;*/
    margin-bottom: 0;
}
nav{
    border: 1px dotted blue;
    background-color: lightgray;
    margin-top: 0;
    padding-top: 0;
}
nav ul{
    /*border: 2px solid green;*/
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}
nav ul li{
    /*border: 1px dashed yellow;*/
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: gold;
    box-shadow: inset;
}
main{
    border: 1px solid green;
    display: inline-block;
    /*position: relative;*/
    display: table;
}
main aside{
    width: 40%;
    /*display: inline-block;*/
    border: 1px solid yellow;
    /*position: absolute;
    left: 0;*/
    display: table-cell;
}
main article{
    width: 70%;
    /*display: inline-block;*/
    border: 1px solid blue;
    /*position: absolute;
    left: 30%*/
    display: table-cell;
}
main aside ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 5px;
    padding-top: 5px;
    margin-top: 0;
}
main aside ul li{
    background-color: lightgray;
    margin-bottom: 5px;
    border-top: blue;
    /*
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    */
}
.wdd{
    border: 1px solid green;
}
#article_img{
    width: 1000px;
    height: 1000px;
}