*{
    box-sizing: border-box;
}

body{
    counter-reset: my-counter;
}
header{
    text-align: center; 
    font-size: 36px;
    color: white;
    background-color: lightgray;
    margin-top: 50px; /* -bottom, -left, -right */
    padding-top: 50px;
    padding-bottom: 30px;
    /*border-bottom: 4px double gold;
    width: 8%;
    height: 50px;*/
    margin-bottom: 0;
    color: yellow;
}
nav{
    border: 1px dotted blue;
    background-color: lightgray;
    margin-top: 0;
    padding-top: 0;
}
nav ul{
    /*border: 2px solid green;*/
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}
nav ul li{
    /*border: 1px dashed yellow;*/
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: gold;
    box-shadow: 0px 0px 20px red;
    text-shadow: 0px 0px 20px green;
}
main{
    border: 1px solid green;
    display: inline-block;
    /*position: relative;*/
    display: table;
}
main aside{
    width: 40%;
    /*display: inline-block;*/
    border: 1px solid yellow;
    /*position: absolute;
    left: 0;*/
    display: table-cell;
}
main article{
    width: 70%;
    /*display: inline-block;*/
    border: 1px solid blue;
    /*position: absolute;
    left: 30%*/
    display: table-cell;
}
main aside ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 5px;
    padding-top: 5px;
    margin-top: 0;
}
main aside ul li{
    background-color: lightgray;
    margin-bottom: 5px;
    border-top: blue;
    /*
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    */
}
.wdd{
    border: 1px solid green;
}
#article_img{
    width: 1000px;
    height: 1000px;
}
footer{
    text-align: center;
    font-size: 36px;
    color : white;
    padding-top: 30px;
    background-color: lightgray;
    padding-bottom: 20px;
}

.text_style{
    text-align: left;
    direction: ltr;
    unicode-bidi: bidi-override;
    vertical-align: top;
    text-decoration-line: overline;
    text-decoration-style: solid;
    text-decoration-color: red;
    /*
    text-decoration: overline dotted red;
    */
    text-transform: uppercase;
    text-indent: 0px ;
    letter-spacing: 50px;
    line-height: 4;
    word-spacing: 40px (or normal)
}
.test_g_font{
    font-family: sofia;
    font-variant: small-caps;
    font-size: 150%;
    font-weight: 900;
}
.heading_style{
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph_style{
    font-family: garamond;
}

#div1{
    display: flex;
    position: relative;
    /*
    left: 20px;
    right: 20px;
    */
    border: 1px solid green;
}
#div1 aside{
    border: 1px solid blue;
}
#div1 article{
    position: relative;
    left: 200px;
    border: 1px solid red;
    height: 100px;
    overflow: scroll;
}
#pdemo{
    position: sticky;
    right: 0px;
    bottom: 0px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    min-width: 160px;
    padding: 12px, 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
div.gallery{
    display: inline-block;
    width: 180px;
}
div.gallery img{
    width: 100%;
    height: auto;
}
div.desc{
    text-align: center;
}
div.gallery h3::before{
    counter-increment: my-counter+1;
    content: "Picture - "counter(my-counter);
}
.flex_c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: flex-direction;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}
.flex_item{
    flex-basis: 200px;
}
.flex_item{
    border: 1px solid green;
    height: 300px;
}
.flex_item img{
    width: 100%;
    height: auto;
}
.grid_c{
    display: grid;
    /*
    grid-template-columns: auto auto auto auto auto auto;
    */
    
    grid-template-areas: 'itema itema itema itema itema itema';
    
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    justify-content: baseline;
    align-content: center;
    border: 5px dashed red;
}
.grid_item{
    grid-area: grid_item_a grid_item_b grid_item_c;
}
.grid_item_a{
    
    grid-area: itema;
    
    border: 5px dashed red;
}

.grid_item_b{
    /*
    grid-area: itema;
    */
    border: 5px dashed red;
}
.grid_item_c{
    
    grid-area: itema;
    
    border: 5px dashed red;
}
.grid_item_d{
    /*
    grid-area: itema;
    */
    border: 5px dashed red;
}
.grid_item_e{
    
    grid-area: itema;
    
    border: 5px dashed red;
}
.grid_item_f{
    /*
    grid-area: itema;
    */
    border: 5px dashed red;
}
#myHeader{
    color: blue;
}